/************ H+L Web Test - Stefano Strippoli ************/
@import url(utilities.css);
@import url(fonts.css);

.cta-button {
  font-family: "Flama Semicondensed";
  letter-spacing: 0.02rem;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #f4a900;
  border-radius: 0.4rem;
  color: #0d0204;
  padding: 1rem 2rem;
}
/************* Sections *************/
#banner {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #0d0204;
}
#banner > button {
  font-family: "Flama";
  position: absolute;
  top: 25%;
  right: 10%;
}
#banner > .banner_inner {
  min-height: 3.0313rem;
  font-family: "Flama";
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner > .banner_inner > div {
  min-width: 99%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#banner > .banner_inner > div p {
  max-width: 60%;
  font-size: 0.894rem;
  text-align: center;
}

#banner > .banner_inner > button {
  text-align: center;
  flex-grow: 1;
}

#header {
  margin-top: 3.0313rem;
  min-height: 6.5rem;
  background-color: #0d0204;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: all 0.6s ease-in-out;
}

#header > .header_inner {
  position: relative;
  font-family: "Flama";
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
#header > .header_inner > .logo {
  z-index: 3;
  position: relative;
}

#header > .header_inner > .nav {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-content: center;
}

#header > .header_inner > .nav > ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#header > .header_inner > .nav_mobile {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header > .header_inner > .nav .cta > a {
  background-color: #ffffff;
  color: #0d0204;
  border-radius: 0.4rem;
  padding: 1.5rem 3rem;
}
#header > .header_inner > .nav_mobile .cta > a {
  background-color: #ffffff;
  color: #0d0204;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
}

#hero {
  background-color: #005740;
  position: relative;
}

#hero > .hero_inner {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#hero > .hero_inner > .hero_img {
  width: 53.0625rem;
  height: 31.125rem;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 4rem;
  flex-grow: 1;
  background: url(../img/hero.png) center center/cover;
}
#hero > .hero_inner > .hero_box {
  font-family: "Roboto Semicondensed";
  color: #ffffff;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
}
#hero > .hero_inner > .hero_box > .hero_title {
  font-family: "Flama Semicondensed";
  text-transform: uppercase;
  font-size: 3.75rem;
  text-align: center;
  line-height: 6rem;
}

#hero > .hero_inner > .hero_box > .hero_desc {
  font-size: 1.375rem;
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
#hero > .hero_inner > .hero_box > .hero_cta {
  display: flex;
  justify-content: center;
}
#hero > .hero_inner > .hero_box > .hero_cta a {
  font-family: "Flama Semicondensed";
  letter-spacing: 0.02rem;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #f4a900;
  border-radius: 0.4rem;
  color: #0d0204;
  padding: 1rem 2rem;
}

#fund {
  font-family: "Flama";
  margin: 5rem 5.25rem;
}

#fund > .fund_inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.125rem;
}
#fund > .fund_inner > .fund_title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
#fund > .fund_inner > .fund_title > h2 {
  font-family: "Flama Semicondensed";
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
}
#fund > .fund_inner > .fund_title > span {
  width: 100%;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.75rem;
}

#fund > .fund_inner > .fund_misc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
}

#fund > .fund_inner > .fund_misc div {
  max-width: 18.125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.625rem;
}

#fund > .fund_inner > .fund_misc > div > span {
  color: #005740;
  font-family: "Flama Semicondensed";
  font-size: 5.125rem;
  font-weight: 700;
  line-height: 6.15rem;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

#fund > .fund_inner > .fund_misc > div > p {
  font-family: "Flama Semicondensed";
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.65rem;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
}

#fund > .fund_inner > .fund_misc > .ellipse {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #a8d6ae;
  border-radius: 50%;
}

#fund > .fund_cols {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}
#fund > .fund_cols > .right {
  width: 50%;
  display: flex;
  justify-content: end;
}
#fund > .fund_cols > .right > .right_img {
  position: relative;
}
#fund > .fund_cols > .right > .right_img::after {
  content: "";
  position: absolute;
  top: -2.438rem;
  right: -2.688rem;
  width: 5.5rem;
  height: 5.375rem;
  background: url(../img/star2.svg) center center/contain no-repeat;
}

#fund > .fund_cols > .right > .right_img::before {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: -5.3rem;
  width: 10.5rem;
  height: 10.188rem;
  background: url(../img/star1.svg) center center/contain no-repeat;
}

#fund > .fund_cols > .left {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 2.75rem;
  gap: 1.875rem;
  min-height: 23.75rem;
}

#fund > .fund_cols > .left h2 {
  flex-grow: 1;
  font-family: "Flama Semicondensed";
  font-size: 2.375rem;
  line-height: 3.375rem;
  text-transform: uppercase;
  word-break: break-word;
}

#fund > .fund_cols > .left p {
  font-family: Flama;
  font-size: 1.375rem;
  line-height: 1.875rem;
  text-align: left;
  flex-grow: 1;
}

#fund > .fund_cols > .left p:last-child {
  width: 100%;
  font-family: "Flama";
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: left;
}

#fund > .fund_cols > .left p:last-child > a {
  text-decoration: underline;
}

#fund > .fund_cols > .left > .left_cta {
  display: flex;
}

#how {
  background-color: #f8f4e6;
  padding: 5rem 0;
}

#how > .how_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5.688rem;
}

#how > .how_inner > .how_title {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

#how > .how_inner > .how_title > h2 {
  width: 100%;
  color: #005740;
  font-family: "Flama Semicondensed";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  text-align: center;
  flex-grow: 1;
}

#how > .how_inner > .how_title > p {
  font-family: Flama;
  font-size: 1.375rem;
  line-height: 1.875rem;
  text-align: center;
  flex-grow: 1;
}

#how > .how_inner > .how_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem;
  row-gap: 5rem;
}
#how > .how_inner > .how_row > .row_item {
  max-width: 13.25rem;
  min-height: 15.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#how > .how_inner > .how_row > .row_item > div {
  max-width: 13.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

#how > .how_inner > .how_row > .row_item span {
  color: #005740;
  font-family: Flama Semicondensed;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

#how > .how_inner > .how_row > .row_item p {
  width: 95%;
  font-family: Flama;
  font-size: 1.125rem;
  line-height: 1.35rem;
  text-align: center;
}

#how > .how_inner > .how_cta {
  display: flex;
  justify-content: center;
}

#reviews {
  padding: 5rem 0;
}

#reviews > .reviews_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

#reviews > .reviews_inner > .rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
}

#reviews > .reviews_inner > .rating > .star_rate {
  width: 1.536rem;
  height: 1.536rem;
  background: url(../img/star_rate.svg) center center/contain no-repeat;
}
#reviews > .reviews_inner > .reviews_title {
  width: 100%;
  display: flex;
  justify-content: center;
}
#reviews > .reviews_inner > div h3 {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;;
  font-size: 1.563rem;
  font-weight: 700;
  line-height: 2.063rem;
  text-align: center;
}

#reviews > .reviews_inner .testimonial_name {
  width: 100%;
  display: flex;
  justify-content: center;
}

#reviews > .reviews_inner .testimonial_name > span {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
}

#find {
  margin: 5rem 0;
}

#find > .find_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.4375rem;
}

#find > .find_inner > .left {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
  flex-grow: 1;
}

#find > .find_inner > .left > .square {
  position: relative;
  aspect-ratio: 4/4;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#find > .find_inner > .left > .square.more_locations {
  padding: 2.375rem 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.105rem;
  flex-wrap: wrap;
}
#find > .find_inner > .left > .square.more_locations > div:first-child {
  display: flex;
  align-items: center;
  gap: 1.105rem;
  flex-wrap: wrap;
}
#find > .find_inner > .left > .square.more_locations > div:first-child > div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.105rem;
  flex-wrap: wrap;
}

#find > .find_inner > .left > .square.more_locations > div:first-child > span {
  font-family: Flama Semicondensed;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-align: left;
  text-transform: uppercase;
  color: #005740;
}
#find > .find_inner > .left > .square.more_locations > div:last-child {
  font-family: Flama;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.35rem;
  text-align: left;
}

#find > .find_inner > .left > .square > .square_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 0.9375rem 1.5625rem;
  font-family: Flama Semicondensed;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.925rem;
  text-align: center;
  text-transform: uppercase;
}

#find > .find_inner > .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
  flex-grow: 1;
  gap: 1.875rem;
}

#find > .find_inner > .right > .find_title {
  width: 100%;
}

#find > .find_inner > .right > .find_title > h2 {
  font-family: Flama Semicondensed;
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.375rem;
  text-align: left;
  text-transform: uppercase;
}

#find > .find_inner > .right > .find_text {
  width: 100%;
}
#find > .find_inner > .right > .find_text > p {
  font-family: Flama;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
}
#find > .find_inner > .right > .find_cta {
  display: flex;
  width: 100%;
}
#find > .find_inner > .right > .find_cta > a {
  padding: 1.3rem 3.5794rem;
  font-family: Flama Semicondensed;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.35rem;
  letter-spacing: 0.02rem;
  text-align: center;
  border-radius: 0.4rem;
  border: 0.125rem solid #0d0204;
}

footer {
  background-color: #000000;
  width: 100%;
  min-height: 9.625rem;
}

footer > .footer_inner {
  padding: 2.875rem 5rem;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
footer > .footer_inner > .footer_rights {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

footer > .footer_inner > .footer_rights > p {
  font-family: Flama;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.965rem;
  text-align: left;
}

footer > .footer_inner > .footer_links {
  min-width: 60%;
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7.0625rem;
}

footer > .footer_inner > .footer_links > a {
  font-family: Flama;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.965rem;
  text-align: left;
  text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
  #how > .how_inner > .how_title {
    width: 100%;
  }
  #fund > .fund_inner > .fund_misc > .ellipse {
    display: none;
  }

  #hero > .hero_inner > .hero_box > .hero_title {
    font-size: 3.25rem;
  }
}
@media only screen and (max-width: 1280px) {
  #fund > .fund_cols {
    justify-content: center;
    row-gap: 5rem;
  }
  #fund > .fund_cols > .left {
    width: 70%;
    order: 1;
  }
  #fund > .fund_cols > .right {
    width: 50%;
    order: 0;
    justify-content: center;
    flex-grow: 1;
  }
  #fund > .fund_cols > .right > .right_img > img {
    height: auto;
    width: 100%;
  }
  #hero > .hero_inner > .hero_box > .hero_title {
    font-size: 2.8rem;
  }
  #fund > .fund_inner > .fund_misc > .ellipse {
    display: none;
  }
  #how > .how_inner > .how_title {
    width: 100%;
  }
  #how > .how_inner > .how_title > p {
    font-family: Flama;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    flex-grow: 1;
  }
  #how > .how_inner > .how_row > .row_item {
    width: 45%;
    max-width: unset;
    flex-grow: 1;
  }
  #find > .find_inner {
    flex-wrap: wrap;
    max-width: 70%;
  }
  #find > .find_inner > .right {
    max-width: 70%;
  }
  #find > .find_inner > .right > .find_title > h2 {
    font-size: 2.5125rem;
  }
  .carousel-items {
    min-height: 12rem !important;
  }
}
@media only screen and (max-width: 910px) {
  #header > .header_inner {
    justify-content: space-between;
    font-size: 1.8rem;
  }
  #header > .header_inner > .nav {
    display: none;
    z-index: 2;
  }
  #header > .header_inner > .nav_mobile {
    display: flex;
    transition: all .3s ease-in-out;
  }

  #header > .header_inner > .nav_mobile > details {
    width: 100%;
  }

  #header > .header_inner > .nav_mobile > details summary::-webkit-details-marker {
        display: none;
  }

  #header > .header_inner > .nav_mobile > details > ul {
    background: #0d0204;
    width: 100%;
    z-index: 1;
    position: relative;
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    transition: all .5s ease-in-out;
  }

  #header > .header_inner > .nav_mobile > details > ul > li {
    width: 100%;
  }

  #header > .header_inner > .nav_mobile > details > summary {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  #header > .header_inner > .nav_mobile > details > summary#menu_toggle{
    padding: 0 1.5rem;
  }

  #hero > .hero_inner > .hero_box > .hero_title {
    font-size: 2.25rem;
    width: 90%;
  }
  #hero > .hero_inner > .hero_img {
    display: none;
  }
  #hero > .hero_inner > .hero_box {
    width: 100%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 87, 64, 0.5), rgba(0, 87, 64, 0.5)),
      url(../img/hero.png) center center/cover no-repeat;
  }
  #how > .how_inner > .how_title > p {
    font-family: Flama;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    flex-grow: 1;
  }
  #find > .find_inner {
    max-width: 80%;
  }
  #find > .find_inner > .right {
    max-width: 80%;
  }
  footer > .footer_inner > .footer_links {
    order: 0;
    justify-content: space-around;
  }
  footer > .footer_inner > .footer_rights {
    order: 1;
  }
  footer > .footer_inner > .footer_rights {
    justify-content: center;
  }
  footer > .footer_inner > .footer_rights > p {
    text-align: center;
    font-size: 1.375rem;
  }
  footer > .footer_inner > .footer_links > a {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  #banner > .banner_inner > div p {
    font-size: 0.74rem;
  }
  #fund {
    margin: 5rem 2rem !important;
  }
  #fund > .fund_inner > .fund_title > h2 {
    font-size: 2.5rem;
  }
  #fund > .fund_inner > .fund_title > span {
    font-size: 1.25rem;
  }
  #fund > .fund_cols {
    justify-content: center;
    gap: 5rem;
  }
  #fund > .fund_cols > .left {
    width: 100%;
    order: 0;
    justify-content: center;
  }
  #fund > .fund_cols > .left > h2{
    text-align: center;
    font-size: 2.175rem;
  }
  #fund > .fund_cols > .left > p {
    text-align: justify !important;
  }
  #fund > .fund_cols > .right {
    width: 80%;
    order: 1;
    justify-content: center;
  }
  #fund > .fund_cols > .right > .right_img {
    width: 80%;
  }
  #fund > .fund_cols > .right > .right_img::before {
    width: 8.5rem;
    height: 8.188rem;
  }
  #fund > .fund_cols > .right > .right_img > img {
    height: auto;
    width: 100%;
  }
  #find > .find_inner > .left {
    max-width: 100%;
  }
  #find > .find_inner > .right {
    max-width: 100%;
  }
  #find > .find_inner > .right > .find_title > h2 {
    font-size: 2.3125rem;
    text-align: center;
  }
  #find > .find_inner > .right > .find_text > p {
    text-align: center;
  }
  #find > .find_inner > .right > .find_cta {
    justify-content: center;
  }
  .carousel {
    width: 80% !important;
  }
  .carousel-items {
    min-height: 20rem !important;
  }
  footer > .footer_inner {
    padding: 2.875rem 2.5rem;
  }
}

/***************** ANIMATIONS *****************/
.op-0 {
  opacity: 0;
}
.animated.FadeInUp {
  animation: 0.8s FadeInUp ease-in-out forwards;
}
.animated.FadeInDown {
  animation: 0.8s FadeInDown ease-in-out forwards;
}
.animated.FadeInLeft {
  animation: 0.8s FadeInLeft ease-in-out forwards;
}
.animated.FadeInRight {
  animation: 0.8s FadeInRight ease-in-out forwards;
}

/******** PROPERTIES ********/
.anim_delay-250ms {
  animation-delay: 0.25s !important;
}

.anim_delay-500ms {
  animation-delay: 0.5s !important;
}

.anim_delay-750ms {
  animation-delay: 0.75s !important;
}

.anim_delay-1s {
  animation-delay: 1s !important;
}

/******** PROPERTIES ********/

/******** BASIC ********/
@keyframes FadeInLeft {
  from {
    transform: translateX(-80%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes FadeInRight {
  from {
    transform: translateX(80%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes FadeInDown {
  from {
    transform: translateY(-80%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes FadeInUp {
  from {
    transform: translateY(80%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/********************* Carousel Styles *********************/
.carousel {
  width: 45%;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.carousel-items {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.carousel-item {
  transition: all 0.6s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}

.carousel-item p {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.688rem;
  text-align: center;
}

.active {
  display: flex !important;
  transition: all 0.6s ease-in-out;
}

.dots {
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.688rem;
}

.dot {
  aspect-ratio: 4/4;
  cursor: pointer;
  margin: 0 0.1875rem;
  border-radius: 100%;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  background-color: #d9d9d9;
  height: 0.625rem;
  width: 0.625rem;
  @media (max-width: 768px) {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}

.dot.active {
  cursor: unset;
  background-color: #7c7c7c;
}
